<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.data.admin.AdminMapper">
    <insert id="addManager" parameterType="com.example.hotel.po.User" useGeneratedKeys="true" keyProperty="id">
        insert into User(email,password,username,phonenumber,birthday,usertype)
        values(#{email},#{password},#{userName},#{phoneNumber},#{birthday},#{userType})
    </insert>

    <update id="updateManager" parameterType="com.example.hotel.po.User">
        update User set email=#{email}, password=#{password}, username=#{userName}, phonenumber=#{phoneNumber}, birthday=#{birthday}, credit=#{credit}, usertype=#{userType}
        where id=#{id}
    </update>

    <insert id="addUser" parameterType="com.example.hotel.po.User" useGeneratedKeys="true" keyProperty="id">
        insert into User(email,password,username,phonenumber,birthday,credit,usertype)
        values(#{email},#{password},#{userName},#{phoneNumber},#{birthday},#{credit},#{userType})
    </insert>

    <select id="getAllManagers" resultMap="User">
        select * from User where usertype='HotelManager'
    </select>

    <select id="getAllUsers" resultMap="User">
        select * from User where usertype='Client'
    </select>

    <delete id="deleteUser">
        delete from User where id=#{userid}
    </delete>

    <update id="updateCredit">
        update User set credit=#{credit} where id=#{id}
    </update>

    <update id="updateUser" parameterType="com.example.hotel.po.User">
        update User set email=#{email},password=#{password}, username=#{userName}, phonenumber=#{phoneNumber}, birthday=#{birthday}, credit=#{credit}, usertype=#{userType}
        where id=#{id}
    </update>

    <resultMap id="User" type="com.example.hotel.po.User">
        <id column="id" property="id"></id>
        <result column="email" property="email"></result>
        <result column="password" property="password"></result>
        <result column="username" property="userName"></result>
        <result column="phonenumber" property="phoneNumber"></result>
        <result column="credit" property="credit"></result>
        <result column="usertype" property="userType"></result>
    </resultMap>
</mapper>