<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.data.user.AccountMapper">
    <insert id="createNewAccount" parameterType="com.example.hotel.po.User" useGeneratedKeys="true" keyProperty="id">
        insert into User(email,password,username,phonenumber,birthday,credit,usertype)
        values(#{email},#{password},#{userName},#{phoneNumber},#{birthday},#{credit},#{userType})
    </insert>
    <insert id="insertCreditRecord" parameterType="com.example.hotel.po.CreditRecord" useGeneratedKeys="true" keyProperty="id">
        insert into CreditRecord(userId,changeValue,restValue,changeTime,reason)
        values (#{userId},#{changeValue},#{restValue},#{changeTime},#{reason})
    </insert>
    <select id="getAccountByName" resultMap="User">
        select * from User where email=#{email}
    </select>
    <select id="getAccountById" resultMap="User">
        select * from User where id=#{id}
    </select>
    <update id="updateAccount">
        update User set password=#{password},username=#{userName},phonenumber=#{phoneNumber},birthday=#{birthday}
        where id=#{id}
    </update>
    <update id="registerVip">
        update User set vipType=#{vipType},vipInfo=#{vipInfo}
        where id=#{id}
    </update>
    <update id="updateCredit">
        update User set credit=#{credit} where id=#{id}
    </update>
    <select id="getCreditRecord" resultType="com.example.hotel.po.CreditRecord">
        select * from CreditRecord where userId=#{userId}
    </select>


    <resultMap id="User" type="com.example.hotel.po.User">
        <id column="id" property="id"></id>
        <result column="email" property="email"></result>
        <result column="password" property="password"></result>
        <result column="username" property="userName"></result>
        <result column="phonenumber" property="phoneNumber"></result>
        <result column="birthday" property="birthday"></result>
        <result column="credit" property="credit"></result>
        <result column="usertype" property="userType"></result>
    </resultMap>
</mapper>